.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
*.tar.bz2

slides/css/reveal.css
slides/css/reveal.min.css
slides/js/reveal.min.js
slides/css/theme/*.css

*.tfstate
*.tfstate.backup
/.terraform
